.homepage_text {
	position: absolute;
	margin: 0 auto;
	z-index: 10;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: x-large;
	color: white;
}

.logoContainer {
	top: 2rem;
	left: 6rem;
	width: 13vw;
	height: 6vh;
	z-index: 10;
	position: absolute;
}
